.body {
    .position(absolute, 0, 0, 0, 0);
    background-color: @body-background-fail;
    background-image: @body-background;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: @font-family-app;
    font-size: @font-size-app;
}

.border(@top: 0; @right: 0; @bottom: 0; @left: 0){
    border-left: @left;
    border-top: @top;
    border-right: @right;
    border-bottom: @bottom;
}

.xfont(@size: 0; @type){
    font-size: @size;
    font-weight: @type;
}

.position(@type; @top: auto; @right: auto; @bottom: auto; @left: auto; @width: auto; @height: auto) {
    position: @type;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
    width: @width;
    height: @height;
}