/*Fonts*/
@font-family-app: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; 
@font-color-app: #1c3f53;
@font-size-app: 16px;
@font-size-h1: 1.5em;
@font-size-h2: 0.8em;
@font-size-h3: 0.6em;
@font-size-h4: 0.5em;

/*Colors*/
@primary-color-withe: #ffffff;
@primary-color-1: #F4F5F6;
@primary-color-gray-90: #555555;
@primary-color-gray-30: #DDDDDD;
@body-background-fail: #315481;
@body-background: linear-gradient(to bottom, #315481, #918e82 100%);
@body-background-header: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);

